*~
*.o
*.a
*.swp
cscope.*
GPATH
GRTAGS
GTAGS
TAGS
tags

arch/x86/minios-x86*.lds
include/list.h
mini-os
mini-os.gz
minios-config.mk
include/fdt.h
include/libfdt.h
include/libfdt_env.h
mini-os.img
arch/arm/arm64/minios-arm64.lds
